/* Définition de la police */
@font-face {
    font-family: 'fawn_scriptregular';
    src: url('fawn-webfont.eot');
    src: url('fawn-webfont.eot?#iefix') format('embedded-opentype'),
         url('fawn-webfont.woff2') format('woff2'),
         url('fawn-webfont.woff') format('woff'),
         url('fawn-webfont.ttf') format('truetype'),
         url('fawn-webfont.svg#fawn_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_cartoonist_handregular';
    src: url('SF_Cartoonist_Hand-webfont.eot');
    src: url('SF_Cartoonist_Hand-webfont.eot?#iefix') format('embedded-opentype'),
         url('SF_Cartoonist_Hand-webfont.woff') format('woff'),
         url('SF_Cartoonist_Hand-webfont.ttf') format('truetype'),
         url('SF_Cartoonist_Hand-webfont.svg#sf_cartoonist_handregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* Eléments principaux de la page */
body
{
    font-family: 'sf_cartoonist_handregular', Arial, sans-serif;
   /* margin: 0 auto;*/

   
}

h1, h2, h3
{
    font-family: 'fawn_scriptregular', Arial, sans-serif;
}

/* Header */
.logo > img
{
    width:30%;
    margin-left:5%;
}

header
{
    display:flex;
    background-color: #F3E9F1;
    align-items: center;

}

nav
{
    width:50%;
}

nav ul
{
    list-style-type: none;
    display: flex;
    font-size:1.3em;
    margin-left: 30%;
}

nav li
{
    width:50%;
}

nav a
{
    color:#000000;
    text-decoration: none;
}

nav a:hover
{
    color:#A165CA;
}

.fa-user, .fa-shopping-cart
{
    padding-right:4%;
}

/*Présentation accueil*/
.accueil
{
    position: relative;
}

.accueil-img > img
{
    width:100%;
    height: 30em;
}

.accueil-txt
{
    position: absolute;
    top: 25px;
    width: 490px;
    font-size: 4em;
    font-family: 'fawn_scriptregular';
    left: 30px;
}

/*Liste des peluches*/


#ligne1
{
    display:flex;
    
}

#ligne2
{
    display:flex;
}

#ligne3
{
    display:flex;

}

.norbert
{
    width:88%;
}

.norbert img
{
    width:100%;
}

.arnold
{
    width:90%;
}

.arnold img
{
    width:100%;
}

.lenny-carl 
{
    width:47%;
}

.lenny-carl img
{
    width:100%;
}

.gustav 
{
    width:53%;
}

.gustav img
{
    width:100%;
}

.garfunkel
{
    width:50%;
}

.garfunkel img
{
    width:100%;
}

.bloc-txt
{
    background-color:#F3E9F1;
    width:50%;
}


/*X-small devices*/
/*@media (max-width: 600px){

}*/

/*Small devices*/
/*@media (min-width: 600px) and (max-width:767px){

}*/

/*Medium devices*/
/*@media (min-width: 768px) and (max-width:992px){

}*/