/* Définition de la police */
@font-face {
    font-family: 'fawn_scriptregular';
    src: url('fawn-webfont.eot');
    src: url('fawn-webfont.eot?#iefix') format('embedded-opentype'),
         url('fawn-webfont.woff2') format('woff2'),
         url('fawn-webfont.woff') format('woff'),
         url('fawn-webfont.ttf') format('truetype'),
         url('fawn-webfont.svg#fawn_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_cartoonist_handregular';
    src: url('SF_Cartoonist_Hand-webfont.eot');
    src: url('SF_Cartoonist_Hand-webfont.eot?#iefix') format('embedded-opentype'),
         url('SF_Cartoonist_Hand-webfont.woff') format('woff'),
         url('SF_Cartoonist_Hand-webfont.ttf') format('truetype'),
         url('SF_Cartoonist_Hand-webfont.svg#sf_cartoonist_handregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* Eléments principaux de la page */
body
{
    font-family: 'sf_cartoonist_handregular', Arial, sans-serif;
   /* margin: 0 auto;*/

   
}

h1, h2, h3
{
    font-family: 'fawn_scriptregular', Arial, sans-serif;
}

/* Header */
.logo > img
{
    width:30%;
    margin-left:5%;
}

header
{
    display:flex;
    background-color: #F3E9F1;
    align-items: center;

}

nav
{
    width:50%;
}

nav ul
{
    list-style-type: none;
    display: flex;
    font-size:1.3em;
    margin-left: 30%;
}

nav li
{
    width:100%;
}

nav a
{
    color:#000000;
    text-decoration: none;
}

nav a:hover
{
    color:#A165CA;
}

.fa-user, .fa-shopping-cart
{
    padding-right:4%;
}

/*Présentation accueil*/
.accueil
{
    position: relative;
    height:80%;
}

.accueil-img > img
{
    width:100%;
    object-fit: cover;
}

.accueil-txt
{
    position: absolute;
    top: 25px;
    width: 430px;
    font-size: 3.5em;
    font-family: 'fawn_scriptregular', Arial, sans-serif;
    left: 30px;
}

/*Liste des produits*/
.liste-produit
{
    display: flex;
    margin-left: 1%;
    margin-right: 1%;
    margin-top:2%;
}

.liste-produit_bloc
{
    height:fit-content;
}

.liste-produit img
{
    width:100%;
}

.liste-produit > div
{
    border: 1px solid lightgrey;
    border-radius: 8px;
}    

.liste-produit > div:nth-child(1)
{
    width: 118%;
    margin-right: 1%;
}

.liste-produit > div:nth-child(2)
{
    width: 121%;
    margin-right: 1%;
}

.liste-produit > div:nth-child(3)
{
    margin-right: 1%;
    width: 106%;
}

.liste-produit > div:nth-child(4)
{
    margin-right: 1%;
    width: 122%;
}

.liste-produit > div:nth-child(5)
{
    width: 119%;
}

.liste-produit h2
{
    text-align: center;
}

.produit-desc
{
    display:flex;
    margin-top: 2%;
    max-width:95%;
    margin-bottom:2%;
}

.liste-produit p
{
    margin-top: 1%;
    margin-bottom: 5%;
    margin-left: 5%;
    font-weight:bold;
}

.liste-produit a
{
    color:#000000;
    text-decoration: none; 
    background: #A165CA;
    padding: 2%;
    border-radius: 8px;
    margin-left:auto;
}

.liste-produit a:hover
{
    font-weight:bold;
    filter:brightness(130%);
}

/*Page du produit*/
#nomProduit
{
    text-align: center;
}

.ficheProduit
{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#photoProduit
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

p#descProduit
{
    font-weight:normal;
    margin-bottom:4%;
}

.desc-titre
{
    font-weight:bold;
}

.desc-prix
{
    font-weight:bold;
}

button#ajoutProduit
{
    font-family: 'sf_cartoonist_handregular', Arial, sans-serif;
    font-weight: lighter;
    border-radius: 8px;
    background: #A165CA;
}

button#ajoutProduit a:hover
{
    font-weight:bold;
    filter:brightness(130%);
}

/*Footer*/

footer
{
    background-color: #F3E9F1;
}

.social
{
    display: flex;
    justify-content: space-between;
    width: 13%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    padding-top: 2%;
}

footer > ul
{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    padding-bottom: 2%;
}

footer ul
{
    list-style-type: none;
}

footer a
{
    color:#000000;
    text-decoration: none;
}

footer a:hover
{
    color:#A165CA;
}

/*Breakpoints*/


/*X-small devices*/
@media (max-width: 600px)
{
    nav 
    {
        width: 65%;
    }

    nav ul 
    {
        margin-left: 5%;
    }

    .accueil-txt
    {
        font-size:2em;
        width: 35%;
        left: 13px;
        top:-10px;
    }

    .liste-produit_bloc > h2 
    {
        font-size: 1em;
    }

    .liste-produit_bloc
    {
        width:100%;
    }

    .liste-produit
    {
        flex-direction:column;
    }

    .liste-produit a
    {
        margin-right: auto;
    }

    .liste-produit p {
        margin-left: auto;
        margin-right: auto;
        font-size: smaller;
    }

    footer > ul 
    {
        width: 75%;
    }

    .social
    {
        width:35%;
    }
}

/*Small devices*/
@media (min-width: 601px) and (max-width:768px)
{
    nav 
    {
        width: 65%;
    }

    nav ul 
    {
        margin-left: 5%;
    }

    header > nav > ul > li > a
    {
        font-size:smaller;
    }

    .accueil-txt
    {
        font-size:2em;
        width: 35%;
        left: 13px;
        top:-10px;
    }

    .liste-produit_bloc > h2 
    {
        font-size: 1em;
    }

    .produit-desc
    {
        flex-direction: column;
    }

    .liste-produit a
    {
        margin-right: auto;
    }

    .liste-produit p {
        margin-left: auto;
        margin-right: auto;
        font-size: smaller;
    }

    footer > ul 
    {
        width: 75%;
    }

    .social
    {
        width:35%;
    }
}

/*Medium devices*/
@media (min-width: 768px) and (max-width:992px)
{
    .accueil-txt 
    {
        width: 300px;
        font-size: 2.5em;
    }

    nav ul 
    {
        margin-left: 10%;
    }

    .produit-desc > p
    {
        font-size:smaller;
    }

    .produit-desc > a
    {
        font-size:smaller;
    }

    .liste-produit_bloc > h2
    {
        font-size:1.4em;
    }
}
