/* Définition de la police */
@font-face {
    font-family: 'fawn_scriptregular';
    src: url('fawn-webfont.eot');
    src: url('fawn-webfont.eot?#iefix') format('embedded-opentype'),
         url('fawn-webfont.woff2') format('woff2'),
         url('fawn-webfont.woff') format('woff'),
         url('fawn-webfont.ttf') format('truetype'),
         url('fawn-webfont.svg#fawn_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_cartoonist_handregular';
    src: url('SF_Cartoonist_Hand-webfont.eot');
    src: url('SF_Cartoonist_Hand-webfont.eot?#iefix') format('embedded-opentype'),
         url('SF_Cartoonist_Hand-webfont.woff') format('woff'),
         url('SF_Cartoonist_Hand-webfont.ttf') format('truetype'),
         url('SF_Cartoonist_Hand-webfont.svg#sf_cartoonist_handregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* Eléments principaux de la page */
body
{
    font-family: 'sf_cartoonist_handregular', Arial, sans-serif;
   /* margin: 0 auto;*/

   
}

h1, h2, h3
{
    font-family: 'fawn_scriptregular', Arial, sans-serif;
}

/* Header */
.logo > img
{
    width:30%;
    margin-left:5%;
}

header
{
    display:flex;
    background-color: #F3E9F1;
    align-items: center;

}

nav
{
    width:50%;
}

nav ul
{
    list-style-type: none;
    display: flex;
    font-size:1.3em;
    margin-left: 30%;
}

nav li
{
    width:50%;
}

nav a
{
    color:#000000;
    text-decoration: none;
}

nav a:hover
{
    color:#A165CA;
}

.fa-user, .fa-shopping-cart
{
    padding-right:4%;
}

/*Présentation accueil*/
.accueil
{
    position: relative;
}

.accueil-img > img
{
    width:100%;
    height: 30em;
}

.accueil-txt
{
    position: absolute;
    top: 25px;
    width: 490px;
    font-size: 4em;
    font-family: 'fawn_scriptregular';
    left: 30px;
}

/*Peluches*/
section ul {
    margin: 0 0 1.5rem;
    padding: 0;
}

section li {
    display: inline-block;
}

section img {
    height: auto;
    margin-bottom: .5rem;
    max-width: calc(100% + 2rem);
    position: relative;
    left: -1rem;
    right: -1rem;
}

p {
    margin: 0 0 .5rem;
}

/*main {
    padding: 1rem 2rem;
    margin: auto;
}

header {
    padding: 1rem 2rem;
    text-align: center;
}*/

.carte {
    border: 1px solid #bac6d3;
    border-radius: 8px;
    padding: 1rem;
}

/*Carousel*/
.liste-peluches {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
    scroll-snap-type: x mandatory;
}

.peluche {
    flex: 1 0 250px;
    margin-left: 1rem;
    scroll-snap-align: start;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    height: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #3d4852;
    border-radius: 3px;
}


/*Breakpoints*/

@media screen and (min-width: 576px) {
    .peluche {
        flex-basis: 300px;
    }
}

@media screen and (min-width: 992px) {

    body,
    button {
        font-size: 1.125rem;
    }

    h1 {
        font-size: 2.75rem;
    }

    .peluche {
        flex-basis: 325px;
    }
}

@media screen and (min-width: 1280px) {
    h1 {
        font-size: 4rem;
    }

    .peluche {
        flex-basis: 450px;
    }
}

@media screen and (min-width: 1600px) {

    body, button,
    {
        font-size: 1.25rem;
    }
}

/*X-small devices*/
/*@media (max-width: 600px){

}*/

/*Small devices*/
/*@media (min-width: 600px) and (max-width:767px){

}*/

/*Medium devices*/
/*@media (min-width: 768px) and (max-width:992px){

}*/