/* Définition de la police */
@font-face {
    font-family: 'fawn_scriptregular';
    src: url('fawn-webfont.eot');
    src: url('fawn-webfont.eot?#iefix') format('embedded-opentype'),
         url('fawn-webfont.woff2') format('woff2'),
         url('fawn-webfont.woff') format('woff'),
         url('fawn-webfont.ttf') format('truetype'),
         url('fawn-webfont.svg#fawn_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_cartoonist_handregular';
    src: url('SF_Cartoonist_Hand-webfont.eot');
    src: url('SF_Cartoonist_Hand-webfont.eot?#iefix') format('embedded-opentype'),
         url('SF_Cartoonist_Hand-webfont.woff') format('woff'),
         url('SF_Cartoonist_Hand-webfont.ttf') format('truetype'),
         url('SF_Cartoonist_Hand-webfont.svg#sf_cartoonist_handregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* Eléments principaux de la page */
body
{
    font-family: 'sf_cartoonist_handregular', Arial, sans-serif;
   /* margin: 0 auto;*/

   
}

h1, h2, h3
{
    font-family: 'fawn_scriptregular', Arial, sans-serif;
}

/* Header */
.logo > img
{
    width:30%;
    margin-left:5%;
}

header
{
    display:flex;
    background-color: #F3E9F1;
    align-items: center;

}

nav
{
    width:50%;
}

nav ul
{
    list-style-type: none;
    display: flex;
    font-size:1.3em;
    margin-left: 30%;
}

nav li
{
    width:50%;
}

nav a
{
    color:#000000;
    text-decoration: none;
}

nav a:hover
{
    color:#A165CA;
}

.fa-user, .fa-shopping-cart
{
    padding-right:4%;
}

/*Présentation accueil*/
.accueil
{
    position: relative;
    height:80%;
}

.accueil-img > img
{
    width:100%;
    object-fit: cover;
}

.accueil-txt
{
    position: absolute;
    top: 25px;
    width: 430px;
    font-size: 3.5em;
    font-family: 'fawn_scriptregular', Arial, sans-serif;
    left: 30px;
}

/*Liste des produits*/
.liste-produit
{
    display: flex;
    margin-left: 1%;
    margin-right: 1%;
    margin-top:2%;
}

.liste-produit_bloc
{
    height:fit-content;
}

section img
{
    width:100%;
}

section > div
{
    border: 1px solid lightgrey;
    border-radius: 8px;
}    

section > div:nth-child(1)
{
    width: 118%;
    margin-right: 1%;
}

section > div:nth-child(2)
{
    width: 121%;
    margin-right: 1%;
}

section > div:nth-child(3)
{
    margin-right: 1%;
    width: 106%;
}

section > div:nth-child(4)
{
    margin-right: 1%;
    width: 122%;
}

section > div:nth-child(5)
{
    width: 119%;
}

section h2
{
    text-align: center;
}

.produit-desc
{
    display:flex;
    margin-top: 2%;
    max-width:95%;
    margin-bottom:2%;
}

section p
{
    margin-top: 1%;
    margin-bottom: 5%;
    margin-left: 5%;
    font-weight:bold;
}

section a
{
    color:#000000;
    text-decoration: none; 
    background: #A165CA;
    padding: 2%;
    border-radius: 8px;
    margin-left:auto;
}

section a:hover
{
    font-weight:bold;
    filter:brightness(130%);
}

/*Page du produit*/
.ficheProduit
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

p#descProduit
{
    font-weight:normal;
    margin-bottom:4%;
}

.desc-prdt > label
{
    margin-left: 5%;
}

/*Footer*/

footer
{
    background-color: #F3E9F1;
}

.social
{
    display: flex;
    justify-content: space-between;
    width: 13%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    padding-top: 2%;
}

footer > ul
{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-bottom: 2%;
}

footer ul
{
    list-style-type: none;
}

footer a
{
    color:#000000;
    text-decoration: none;
}

footer a:hover
{
    color:#A165CA;
}

/*Breakpoints*/


/*X-small devices*/
/*@media (max-width: 600px){

}*/

/*Small devices*/
/*@media (min-width: 600px) and (max-width:767px){

}*/

/*Medium devices*/
/*@media (min-width: 768px) and (max-width:992px){

}*/